
--------------- REQUIREMENTS::Measurement - 1 ---------------
(Accuracy High)
(Accuracy# nil)
(Accuracy2 nil)
(All-weather nil)
(avg-revisit-time-cold-regions# 11.9)
(avg-revisit-time-global# 19.7)
(avg-revisit-time-northern-hemisphere# 17.5)
(avg-revisit-time-southern-hemisphere# 17.6)
(avg-revisit-time-tropics# 23.4)
(avg-revisit-time-US# 18.8)
(band nil)
(bias-calibration# nil)
(cloud-cleared nil)
(Continuity-over-time nil)
(Coverage nil)
(Coverage-of-region-of-interest Global)
(Day-Night nil)
(Field-of-view# nil)
(flies-in mission0)
(Geometry nil)
(High-lat-sensitivity nil)
(Horizontal-Spatial-Resolution nil)
(Horizontal-Spatial-Resolution# nil)
(Horizontal-Spatial-Resolution2 nil)
(Horizontal-Spatial-Resolution-Along-track nil)
(Horizontal-Spatial-Resolution-Along-track# nil)
(Horizontal-Spatial-Resolution-Cross-track nil)
(Horizontal-Spatial-Resolution-Cross-track# nil)
(Id SWOT_GPS4)
(Illumination nil)
(image-distortion# nil)
(Instrument SWOT_GPS)
(launch-date nil)
(lifetime nil)
(mission-architecture nil)
(num-of-indep-samples# nil)
(num-of-planes# nil)
(num-of-sats-per-plane# nil)
(num-soundings-per-day# nil)
(On-board-calibration nil)
(orbit-altitude# 800)
(orbit-anomaly# nil)
(orbit-inclination nil)
(orbit-RAAN AM)
(orbit-string nil)
(orbit-type nil)
(Parameter "1.2.1 Atmospheric temperature fields")
(Penetration nil)
(Pointing-capability nil)
(Polarimetry nil)
(Radiometric-accuracy nil)
(Radiometric-accuracy# nil)
(Region-of-interest Global)
(rms-system-instrument# nil)
(rms-system-POD# nil)
(rms-system-tropoH2O# nil)
(rms-system-tropo-dry# nil)
(rms-system-ionosphere# nil)
(rms-system-model# nil)
(rms-variable-angular-sampling# nil)
(rms-variable-measurement# nil)
(rms-system-tides# nil)
(rms-variable-time-sampling# nil)
(rms-total# nil)
(sensitivity# nil)
(data-quantity-multiplier# nil)
(sensitivity-in-cirrus nil)
(sensitivity-in-convective-clouds nil)
(sensitivity-in-high-winds nil)
(sensitivity-in-low-troposphere-PBL nil)
(sensitivity-in-rain nil)
(sensitivity-in-upper-stratosphere nil)
(sensitivity-in-upper-troposphere-and-stratosphere nil)
(sensitivity-NEDT# nil)
(sensitivity-over-lands nil)
(sensitivity-over-oceans nil)
(signal-to-noise-ratio# nil)
(soil-penetration# nil)
(spectral-bands )
(Spectral-region nil)
(Spectral-resolution nil)
(Spectral-resolution# nil)
(Spectral-sampling nil)
(Swath nil)
(Swath# nil)
(Swath2 nil)
(synergy-level# nil)
(taken-by SWOT_GPS)
(Temporal-resolution nil)
(Temporal-resolution# nil)
(ThreeD nil)
(Vertical-Spatial-Resolution nil)
(Vertical-Spatial-Resolution# nil)
(data-rate-duty-cycle# nil)
(diurnal-cycle nil)
(power-duty-cycle# nil)
(factHistory "{Rnil A672 A685}")
(science-multiplier 1.0)

--------------- REQUIREMENTS::Measurement - 2 ---------------
(Accuracy High)
(Accuracy# nil)
(Accuracy2 nil)
(All-weather nil)
(avg-revisit-time-cold-regions# 11.9)
(avg-revisit-time-global# 19.7)
(avg-revisit-time-northern-hemisphere# 17.5)
(avg-revisit-time-southern-hemisphere# 17.6)
(avg-revisit-time-tropics# 23.4)
(avg-revisit-time-US# 18.8)
(band nil)
(bias-calibration# nil)
(cloud-cleared nil)
(Continuity-over-time nil)
(Coverage nil)
(Coverage-of-region-of-interest Global)
(Day-Night nil)
(Field-of-view# nil)
(flies-in mission0)
(Geometry nil)
(High-lat-sensitivity nil)
(Horizontal-Spatial-Resolution nil)
(Horizontal-Spatial-Resolution# nil)
(Horizontal-Spatial-Resolution2 nil)
(Horizontal-Spatial-Resolution-Along-track nil)
(Horizontal-Spatial-Resolution-Along-track# nil)
(Horizontal-Spatial-Resolution-Cross-track nil)
(Horizontal-Spatial-Resolution-Cross-track# nil)
(Id SWOT_GPS0)
(Illumination nil)
(image-distortion# nil)
(Instrument SWOT_GPS)
(launch-date nil)
(lifetime nil)
(mission-architecture nil)
(num-of-indep-samples# nil)
(num-of-planes# nil)
(num-of-sats-per-plane# nil)
(num-soundings-per-day# nil)
(On-board-calibration nil)
(orbit-altitude# 800)
(orbit-anomaly# nil)
(orbit-inclination nil)
(orbit-RAAN AM)
(orbit-string nil)
(orbit-type nil)
(Parameter "1.3.1 Atmospheric humidity -indirect-")
(Penetration nil)
(Pointing-capability nil)
(Polarimetry nil)
(Radiometric-accuracy nil)
(Radiometric-accuracy# nil)
(Region-of-interest Global)
(rms-system-instrument# nil)
(rms-system-POD# nil)
(rms-system-tropoH2O# nil)
(rms-system-tropo-dry# nil)
(rms-system-ionosphere# nil)
(rms-system-model# nil)
(rms-variable-angular-sampling# nil)
(rms-variable-measurement# nil)
(rms-system-tides# nil)
(rms-variable-time-sampling# nil)
(rms-total# nil)
(sensitivity# nil)
(data-quantity-multiplier# nil)
(sensitivity-in-cirrus nil)
(sensitivity-in-convective-clouds nil)
(sensitivity-in-high-winds nil)
(sensitivity-in-low-troposphere-PBL nil)
(sensitivity-in-rain nil)
(sensitivity-in-upper-stratosphere nil)
(sensitivity-in-upper-troposphere-and-stratosphere nil)
(sensitivity-NEDT# nil)
(sensitivity-over-lands nil)
(sensitivity-over-oceans nil)
(signal-to-noise-ratio# nil)
(soil-penetration# nil)
(spectral-bands )
(Spectral-region nil)
(Spectral-resolution nil)
(Spectral-resolution# nil)
(Spectral-sampling nil)
(Swath nil)
(Swath# nil)
(Swath2 nil)
(synergy-level# nil)
(taken-by SWOT_GPS)
(Temporal-resolution nil)
(Temporal-resolution# nil)
(ThreeD nil)
(Vertical-Spatial-Resolution nil)
(Vertical-Spatial-Resolution# nil)
(data-rate-duty-cycle# nil)
(diurnal-cycle nil)
(power-duty-cycle# nil)
(factHistory "{Rnil A672 A685}")
(science-multiplier 1.0)

--------------- REQUIREMENTS::Measurement - 3 ---------------
(Accuracy High)
(Accuracy# nil)
(Accuracy2 nil)
(All-weather nil)
(avg-revisit-time-cold-regions# 11.9)
(avg-revisit-time-global# 19.7)
(avg-revisit-time-northern-hemisphere# 17.5)
(avg-revisit-time-southern-hemisphere# 17.6)
(avg-revisit-time-tropics# 23.4)
(avg-revisit-time-US# 18.8)
(band nil)
(bias-calibration# nil)
(cloud-cleared nil)
(Continuity-over-time nil)
(Coverage nil)
(Coverage-of-region-of-interest Global)
(Day-Night nil)
(Field-of-view# nil)
(flies-in mission0)
(Geometry nil)
(High-lat-sensitivity nil)
(Horizontal-Spatial-Resolution nil)
(Horizontal-Spatial-Resolution# nil)
(Horizontal-Spatial-Resolution2 nil)
(Horizontal-Spatial-Resolution-Along-track nil)
(Horizontal-Spatial-Resolution-Along-track# nil)
(Horizontal-Spatial-Resolution-Cross-track nil)
(Horizontal-Spatial-Resolution-Cross-track# nil)
(Id SWOT_GPS3)
(Illumination nil)
(image-distortion# nil)
(Instrument SWOT_GPS)
(launch-date nil)
(lifetime nil)
(mission-architecture nil)
(num-of-indep-samples# nil)
(num-of-planes# nil)
(num-of-sats-per-plane# nil)
(num-soundings-per-day# nil)
(On-board-calibration nil)
(orbit-altitude# 800)
(orbit-anomaly# nil)
(orbit-inclination nil)
(orbit-RAAN AM)
(orbit-string nil)
(orbit-type nil)
(Parameter "5.1.3 Space weather -solar X-ray/EUV, energetic particles, ionosphere-")
(Penetration nil)
(Pointing-capability nil)
(Polarimetry nil)
(Radiometric-accuracy nil)
(Radiometric-accuracy# nil)
(Region-of-interest Global)
(rms-system-instrument# nil)
(rms-system-POD# nil)
(rms-system-tropoH2O# nil)
(rms-system-tropo-dry# nil)
(rms-system-ionosphere# nil)
(rms-system-model# nil)
(rms-variable-angular-sampling# nil)
(rms-variable-measurement# nil)
(rms-system-tides# nil)
(rms-variable-time-sampling# nil)
(rms-total# nil)
(sensitivity# nil)
(data-quantity-multiplier# nil)
(sensitivity-in-cirrus nil)
(sensitivity-in-convective-clouds nil)
(sensitivity-in-high-winds nil)
(sensitivity-in-low-troposphere-PBL nil)
(sensitivity-in-rain nil)
(sensitivity-in-upper-stratosphere nil)
(sensitivity-in-upper-troposphere-and-stratosphere nil)
(sensitivity-NEDT# nil)
(sensitivity-over-lands nil)
(sensitivity-over-oceans nil)
(signal-to-noise-ratio# nil)
(soil-penetration# nil)
(spectral-bands )
(Spectral-region nil)
(Spectral-resolution nil)
(Spectral-resolution# nil)
(Spectral-sampling nil)
(Swath nil)
(Swath# nil)
(Swath2 nil)
(synergy-level# nil)
(taken-by SWOT_GPS)
(Temporal-resolution nil)
(Temporal-resolution# nil)
(ThreeD nil)
(Vertical-Spatial-Resolution nil)
(Vertical-Spatial-Resolution# nil)
(data-rate-duty-cycle# nil)
(diurnal-cycle nil)
(power-duty-cycle# nil)
(factHistory "{Rnil A672 A685}")
(science-multiplier 1.0)

--------------- REQUIREMENTS::Measurement - 4 ---------------
(Accuracy Medium)
(Accuracy# nil)
(Accuracy2 nil)
(All-weather nil)
(avg-revisit-time-cold-regions# 11.9)
(avg-revisit-time-global# 19.7)
(avg-revisit-time-northern-hemisphere# 17.5)
(avg-revisit-time-southern-hemisphere# 17.6)
(avg-revisit-time-tropics# 23.4)
(avg-revisit-time-US# 18.8)
(band nil)
(bias-calibration# nil)
(cloud-cleared nil)
(Continuity-over-time nil)
(Coverage nil)
(Coverage-of-region-of-interest Global)
(Day-Night nil)
(Field-of-view# nil)
(flies-in mission0)
(Geometry nil)
(High-lat-sensitivity nil)
(Horizontal-Spatial-Resolution nil)
(Horizontal-Spatial-Resolution# nil)
(Horizontal-Spatial-Resolution2 nil)
(Horizontal-Spatial-Resolution-Along-track nil)
(Horizontal-Spatial-Resolution-Along-track# nil)
(Horizontal-Spatial-Resolution-Cross-track nil)
(Horizontal-Spatial-Resolution-Cross-track# nil)
(Id SWOT_GPS2)
(Illumination nil)
(image-distortion# nil)
(Instrument SWOT_GPS)
(launch-date nil)
(lifetime nil)
(mission-architecture nil)
(num-of-indep-samples# nil)
(num-of-planes# nil)
(num-of-sats-per-plane# nil)
(num-soundings-per-day# nil)
(On-board-calibration nil)
(orbit-altitude# 800)
(orbit-anomaly# nil)
(orbit-inclination nil)
(orbit-RAAN AM)
(orbit-string nil)
(orbit-type nil)
(Parameter "A8.Total electron content in ionosphere")
(Penetration nil)
(Pointing-capability nil)
(Polarimetry nil)
(Radiometric-accuracy nil)
(Radiometric-accuracy# nil)
(Region-of-interest Global)
(rms-system-instrument# nil)
(rms-system-POD# nil)
(rms-system-tropoH2O# nil)
(rms-system-tropo-dry# nil)
(rms-system-ionosphere# nil)
(rms-system-model# nil)
(rms-variable-angular-sampling# nil)
(rms-variable-measurement# nil)
(rms-system-tides# nil)
(rms-variable-time-sampling# nil)
(rms-total# nil)
(sensitivity# nil)
(data-quantity-multiplier# nil)
(sensitivity-in-cirrus nil)
(sensitivity-in-convective-clouds nil)
(sensitivity-in-high-winds nil)
(sensitivity-in-low-troposphere-PBL nil)
(sensitivity-in-rain nil)
(sensitivity-in-upper-stratosphere nil)
(sensitivity-in-upper-troposphere-and-stratosphere nil)
(sensitivity-NEDT# nil)
(sensitivity-over-lands nil)
(sensitivity-over-oceans nil)
(signal-to-noise-ratio# nil)
(soil-penetration# nil)
(spectral-bands )
(Spectral-region nil)
(Spectral-resolution nil)
(Spectral-resolution# nil)
(Spectral-sampling nil)
(Swath nil)
(Swath# nil)
(Swath2 nil)
(synergy-level# nil)
(taken-by SWOT_GPS)
(Temporal-resolution nil)
(Temporal-resolution# nil)
(ThreeD nil)
(Vertical-Spatial-Resolution nil)
(Vertical-Spatial-Resolution# nil)
(data-rate-duty-cycle# nil)
(diurnal-cycle nil)
(power-duty-cycle# nil)
(factHistory "{Rnil A672 A685}")
(science-multiplier 1.0)

--------------- REQUIREMENTS::Measurement - 5 ---------------
(Accuracy High)
(Accuracy# nil)
(Accuracy2 nil)
(All-weather nil)
(avg-revisit-time-cold-regions# 11.9)
(avg-revisit-time-global# 19.7)
(avg-revisit-time-northern-hemisphere# 17.5)
(avg-revisit-time-southern-hemisphere# 17.6)
(avg-revisit-time-tropics# 23.4)
(avg-revisit-time-US# 18.8)
(band nil)
(bias-calibration# nil)
(cloud-cleared nil)
(Continuity-over-time nil)
(Coverage nil)
(Coverage-of-region-of-interest Global)
(Day-Night nil)
(Field-of-view# nil)
(flies-in mission0)
(Geometry nil)
(High-lat-sensitivity nil)
(Horizontal-Spatial-Resolution nil)
(Horizontal-Spatial-Resolution# nil)
(Horizontal-Spatial-Resolution2 nil)
(Horizontal-Spatial-Resolution-Along-track nil)
(Horizontal-Spatial-Resolution-Along-track# nil)
(Horizontal-Spatial-Resolution-Cross-track nil)
(Horizontal-Spatial-Resolution-Cross-track# nil)
(Id SWOT_GPS1)
(Illumination nil)
(image-distortion# nil)
(Instrument SWOT_GPS)
(launch-date nil)
(lifetime nil)
(mission-architecture nil)
(num-of-indep-samples# nil)
(num-of-planes# nil)
(num-of-sats-per-plane# nil)
(num-soundings-per-day# nil)
(On-board-calibration nil)
(orbit-altitude# 800)
(orbit-anomaly# nil)
(orbit-inclination nil)
(orbit-RAAN AM)
(orbit-string nil)
(orbit-type nil)
(Parameter "A9.Precise Orbit Determination")
(Penetration nil)
(Pointing-capability nil)
(Polarimetry nil)
(Radiometric-accuracy nil)
(Radiometric-accuracy# nil)
(Region-of-interest Global)
(rms-system-instrument# nil)
(rms-system-POD# nil)
(rms-system-tropoH2O# nil)
(rms-system-tropo-dry# nil)
(rms-system-ionosphere# nil)
(rms-system-model# nil)
(rms-variable-angular-sampling# nil)
(rms-variable-measurement# nil)
(rms-system-tides# nil)
(rms-variable-time-sampling# nil)
(rms-total# nil)
(sensitivity# nil)
(data-quantity-multiplier# nil)
(sensitivity-in-cirrus nil)
(sensitivity-in-convective-clouds nil)
(sensitivity-in-high-winds nil)
(sensitivity-in-low-troposphere-PBL nil)
(sensitivity-in-rain nil)
(sensitivity-in-upper-stratosphere nil)
(sensitivity-in-upper-troposphere-and-stratosphere nil)
(sensitivity-NEDT# nil)
(sensitivity-over-lands nil)
(sensitivity-over-oceans nil)
(signal-to-noise-ratio# nil)
(soil-penetration# nil)
(spectral-bands )
(Spectral-region nil)
(Spectral-resolution nil)
(Spectral-resolution# nil)
(Spectral-sampling nil)
(Swath nil)
(Swath# nil)
(Swath2 nil)
(synergy-level# nil)
(taken-by SWOT_GPS)
(Temporal-resolution nil)
(Temporal-resolution# nil)
(ThreeD nil)
(Vertical-Spatial-Resolution nil)
(Vertical-Spatial-Resolution# nil)
(data-rate-duty-cycle# nil)
(diurnal-cycle nil)
(power-duty-cycle# nil)
(factHistory "{Rnil A672 A685}")
(science-multiplier 1.0)
